header {
    margin: 0;
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 8px;
}

.header_button {
    padding: 8px 12px;
    border: 2px solid #272421;
    border-radius: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background: none;
    cursor: pointer;
}

.header_button__active {
    color: #ABA39C;
    border: 2px solid #C4BFBA;
}

.header_button:hover {
    color: #ABA39C;
    border: 2px solid #C4BFBA;
}