body {
    margin: 0;
    font-family: 'IBM Plex Mono', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F0E8E0;
    color: #272421;
    width: 100vw;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}